<div>
    <textarea rows="4" style="resize:none; overflow-y:auto" class="form-control" @bind=commentRequest.CommentText @bind:event="oninput"></textarea>
    <span class="error" hidden="@string.IsNullOrEmpty(error)">@error</span>
    <div>
        <button type="button" class="btn btn-danger mt-2" @onclick="OnCancel">Cancel</button>
        <button type="button" class="btn btn-primary mt-2" disabled=@string.IsNullOrWhiteSpace(commentRequest.CommentText) @onclick="OnSubmit">Submit</button>
    </div>
</div>