<div class="jumbotron">
    <div class="news-container" @onclick="() => onPostClick(BreakingNews.Id)"
        style="background-image: url('@BreakingNews.ImageUrl');">
        <div class="title">@BreakingNews.Headline</div>
    </div>
</div>