<div class="comment-wrapper">
    <div class="comment-header">
        <span style="margin-right: 5px; font-weight: bold">@Comment.CommenterName</span>
        <span>@humanizedTime</span>
    </div>
    <div>
        <p>@Comment.CommentText</p>
    </div>
</div>