@page "/post/{PostId}"

@if (Post == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="post-container">
        <div class="wrapper">
            <p class="headline">@Post.Headline</p>
            <img src="@Post.ImageUrl" alt="img" />
            <p class="post-body">@Post.FullDescription</p>

            <div class="comments-count">
                <span>Comments </span>
                <span class="count">@string.Format("( " + Comments.Count() + " )")</span>
            </div>
            @if (Comments.Count() > 0)
            {
                <div class="comments-list">
                    @foreach (var comment in Comments)
                    {
                        <CommentComponent Comment="comment"></CommentComponent>
                    }
                </div>
            }
            else
            {
                <span>No Comments</span>
            }
        </div>
    </div>

}