@page "/"


@if (PostsList == null)
{
    <div class="spinner"></div>
}
else
{
    @if (breakingNews is not null)
    {
        <BreakingNewsComponent BreakingNews="breakingNews"></BreakingNewsComponent>
    }
    <div class="card-deck">
        @foreach (var post in PostsList)
        {
            <PostComponent Post="post"></PostComponent>
        }
    </div>
}

