@page "/"


@if (Posts == null)
{
    <div class="spinner"></div>
}
else
{
    <h3>TestComponent</h3>

    @foreach (var post in Posts)
    {
        <span>@post.Headline</span><br />
    }
}

@code {

}
