@inherits LayoutComponentBase

<PageTitle>AnchorNews.Web</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">


            <AuthorizeView>
                <Authorized>
                    <p>Hello, @context.User.Identity?.Name!</p>
                    <button type="button" class="btn btn-danger ml-md-auto" @onclick="@LogoutClick">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <button type="button" class="btn btn-success ml-md-auto" @onclick="@RegisterClick">Register</button>
                    <button type="button" class="btn btn-primary ml-md-auto" @onclick="@LoginClick">Login</button>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
